.privatedata {
    display: flex;
    justify-content: center;
    background-color: white;
    font: blue;
}

.inner-privatedata {
    width: 80%;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    margin-top: 10px;
}

.header-privatedata {
    display: flex;
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid black;
    background-color: #6eb4ff;
    font-size: 35px;
    justify-content: space-between;
    font-family: 'Montserrat';
}

.header-privatedata button {
    display:flex;
    height: 10vh;
    font-size: 20px;
    background-color: white;
    font-family: 'Montserrat';
    margin: 5px;
    border-radius: 15px;
}

.header-privatedata button:hover {
    background-color: lightgray;
}

.header-privatedata img {
    display: flex;
    height: 12vh;
    width: 120px;
}

.client-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 12vh;
    margin: 10px 0px 20px 0px;
}

.client-info img {
    height: 15vh;
    width: 100%;
}

.first-container {
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
}

.visits-container {
    display: flex;
    flex-flow: column wrap;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 60vh;
    background-color: white;
}

.api-container {
    width: 50%;
    height: 12vh;
    background-color: lightcoral;
    border-radius: 25px;
    font-weight: bold;
}


.visits-privatedata {
    width:40%;
    height: 12vh;
    border: 2px solid lightgray;
    border-radius: 25px;
    font-weight: bold;
    color: #2d92ff;
}
.username-container {
    width: 30%;
    height: 12vh;
    border: 2px solid lightgray;
    border-radius: 25px;
    font-weight: bold;
    color: #2d92ff;
}

p {
    font-weight: bold;
    color:  black;
    font-size: 25px;
}

.map-container {
    display: inline-block;
    width: 100%;
    height: 60vh;

}

.pie-container {
    width: 50%;
    height: 50vh;
    font-weight: bold;
    border-radius: 25px;
    background-color: white;
    padding-right: 50px;
}
.pie-container h4 {
    font-size: 25px;
    color: #2d92ff
}
.toggle-button button {
    width:15%;
    height: 8vh;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    float: right;
}