.dashboard {
    display: flex;
    justify-content: center;
}

.inner-dashboard {
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
}

.header-dashboard {
    display: flex;
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid black;
    font-size: 35px;
    justify-content: center;
    font-family: 'Montserrat';
    background-color: rgb(192, 247, 253);
}
.totals {
    display:flex;
    width: 100%;
    height: 8vh;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.total-container {
    align-self: center;
    justify-content: center;
    width: 40%;
    height: 8vh;
    font-size: 25px;
    background-color: lightcoral;  
    border-radius: 15px;
    margin-bottom: 10px;
}

.user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 8vh;
    margin-bottom: 10px;
}
.user-container .name {
    width: 35%;
    height: 8vh;
    background-color: white;
    font-size: 25px;
    border-radius: 15px;
}



